<div class="login-page">
    <div class="content">
        <form class="login-form" novalidate #loginForm="ngForm" fxFlex>
            <div class="text-center">
                <h2 class="app-name">Login</h2>
            </div>
            <div *ngIf="isError" class="alert alert-danger">
                {{message}}
            </div>
            <div fxFlex fxlayout="row" fxlayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Email" name="email" #emailInput="ngModel"
                            [(ngModel)]="loginModel.email" required email>
                        <div class="mat-form-field-subscript-wrapper" *ngIf="emailInput.touched && emailInput.invalid">
                            <mat-error class="text-danger" *ngIf="emailInput?.errors.required">
                                Email is required.
                            </mat-error>
                            <mat-error class="text-danger"
                                *ngIf="emailInput?.errors.email && !emailInput?.errors.required">
                                Email is not valid.
                            </mat-error>
                        </div>
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput type="password" placeholder="Password" name="password" #passwordInput="ngModel"
                            [(ngModel)]="loginModel.pw" maxlength="20" required>
                        <div class="mat-form-field-subscript-wrapper"
                            *ngIf="passwordInput.touched && passwordInput.invalid">
                            <mat-error class="text-danger" *ngIf="passwordInput?.errors.required">
                                Password is required.
                            </mat-error>
                        </div>
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex fxLayout="row" fxLayout.lt-md="column" style="margin: 20px 0 30px 0">
                <div fxFlex>
                    <mat-checkbox color="primary">Remember Me</mat-checkbox>
                </div>
                <div fxFlex fxLayoutAlign="end">
                    <a href="javascript:void(0)">Forget Password</a>
                </div>
            </div>
            <div fxFlex fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <button mat-raised-button color="primary" class="w-100" [disabled]="loginForm.form.invalid"
                        (click)="onLogin()">Login</button>
                </div>
            </div>
            <div fxFlex fxLayoutAlign="start" style="margin: 20px 0 30px 0">
                <a routerLink="/register">Create new account</a>
            </div>
        </form>
    </div>
</div>